.navbar {
    position: relative;
    margin: auto;
    top: 0px;
    height: 35px;
    width: 35%;
    background-color: var(--bg);
    border-bottom: var(--border);
    border-radius: 0 0 30px 30px;
    background-color: white;
}

.navbar-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    right: 0px;
}

.nav-item {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    text-decoration: none;
}

.icon-button:hover {
    filter: brightness(1.5);
}

.dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: gray;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5em;
}

.menu-item:hover {
    background-color: #666769;
}

.icon-rigth {
    margin-left: auto;
}

.menu {
    width: 100%;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}
